.nav__ul {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  padding: 15px 60px;
  background-color: white;
}

.nav__li {
  position: relative;
  background: var(--main-gradient);
  color:transparent;
  -webkit-background-clip: text;
}

/*.nav__li--highlight {
  color: rgba(0,0,0,0.7);
}*/

@keyframes notification-anim {

  0%{
    transform: none;
    rotate: none;
  }

  50%{
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notification-anim 1.2s linear infinite;
}

/*nav-bar animation*/

@keyframes navAnmi {
  from {
    opacity:0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.nav__li {
  transform: translateY(55px);
  animation: navAnmi 0.5s linear forwards;
}

.nav__li:nth-child(2) {
  animation-delay: 0.4s;
}

.nav__li:nth-child(3) {
  animation-delay: 0.8s;
}

.nav__li:last-child {
  animation-delay: 1.2s;
}